# Common
node_modules/
bower_components/
dist/
report/
snippets/
logs/*
*.log
*.map

# Project specific
typings/
!*.spec.js
!**/test-helpers/**/*
!**/src/typings/*.d.ts
stats.json

# Visual Studio
.settings/
.ntvs_analysis.dat
.vs/config/applicationhost.config

# Visual Studio Code
.vscode/

# JetBrains
.idea/
.idea_modules/
/out/
*.iml

# File-based project format
*.ipr
*.iws

# JIRA plugin
atlassian-ide-plugin.xml

# Icon must end with two \r
Icon

# Thumbnails

